@import '_globals';
@import '_colors';
@import '_fonts';

body {
    background-color: $blue-dark;
    font-family: $font-primary;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: $blue-medium;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    border-radius: 15px;
    max-width: 300px;
    
    &-image {
        margin: 0 0 10px 0;
        position: relative;
        
        a {
            display: flex;
            
            &::before {
                content: url('../images/icon-view.svg');
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0, 255, 247, .5);
                opacity: 0;
                border-radius: 10px;
                transition: .5s ease;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            &:hover::before {
                opacity: 1;
            }
            
            img {
                width: 100%;
                border-radius: 10px;
                display: block;
            }
        }


    }

    &-title {
        font-weight: 600;
        margin: 10px 0;
    }

    &-description {
        font-weight: 300;
        font-size: 18px;
        margin: 10px 0;
        line-height: 1.5;
        color: $blue-soft;
    }

    &-info {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        span {
            display: flex;
            align-items: center;

            img {
                margin-right: 8px;
            }

        }
        
        &-price {
            color: $cyan;
            font-weight: 600;
        }

        &-days-left {
            color: $blue-soft;
            font-weight: 300;
        }

    }

    hr {
        margin: 10px 0;
        border-color: $blue-light;
    }
    
    &-footer {
        margin: 10px 0;
        display: flex;
        align-items: center;
        font-weight: 300;
        padding: 0;
        color: $blue-soft;

        img {
            border: 2px solid $white;
            border-radius: 50%;
            width: 35px;
            margin-right: 15px;

        }

        a {
            text-decoration: none;
            font-weight: 400;
            color: $white;
        }
    }

            
    a {
        text-decoration: none;            
        color: $white;

        &:visited {
            color: $white;
        }
        
        &:hover {
            color: $cyan;
        }
    }

}

.attribution {
    margin-top: 15px;
    max-width: 300px;
    text-align: center;
    line-height: 1.5;

    a {
        color: $cyan;
        text-decoration: none;
    }
}